.mypage {
  padding-top: 30px;
  margin: 80px auto;
  width: 60vw;
  height: 80vh;
  background: #eee;
  border-radius: 5px;
  color: #282c34;
}

.info {
  width: 50vw;
  height: 30vh;
  margin: 10px auto;
}

input {
  width: 300px;
}

.remove {
  margin-top: 10px;
}